
# Ignore .NET build artifacts
bin/
obj/
*.user
*.suo
.vscode/
.vs/

# Ignore Visual Studio local cache
.vs/

# Ignore local Terraform directory and state tracking files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
